body {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

#como_en_casa {
  background-color: white;
  height: 100vh;
}

.top_bar {
  z-index: 2;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 98.56px;
  background-image: url("images/top_bar.png");
  background-size: 100% 100%;
  display: block;
}

.top_bar_house_logo {
  position: absolute;
  width: 91px;
  height: 92px;
  left: 21px;
  top: 10.147px;
}

.top_bar_contact {
  position: absolute;
  top: 18px;
  right: 28%;
  text-align: center;
}
.top_bar_contact_text {
  color: #FFEA46;
  display: block;
  font-size: 10px;
}
.top_bar_contact_text_phone_number {
  font-size: 16px;
  font-weight: bold;
}
.top_bar_contact_text_hours {
  font-size: 14px;
}
.top_bar_yellow_phone {
  position: absolute;
  width: 69px;
  height: 69px;
  right: 6.7%;
  top: 11px;
}

@media (min-width: 512px) {
  .top_bar_contact {
    right: 135px;
  }
  .top_bar_yellow_phone {
    right: 37.96px;
  }
}

.blink_me {
  animation: blinker 3.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.11;
  }
}

.main_banner {
  height: 80%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: block;
  background-image: url("images/S__14975015.png");
}

@media (max-width: 767px) {
  .main_banner {
    background-image: url("images/S__14975015_mobile.png");
  }
}
.ordermaid_text_container {
  position: absolute;
  top: 30%;
  left: 59.61px;
  text-align: center;
}
.yellow_dot_line {
  background-image: url("images/yellow_dot.png");
  height: 4px;
}
.organic_text_container {
  position: absolute;
  top: 50%;
  left: 86.03px;
  text-align: center;
}
.main_banner_text {
  display: block;
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.main_banner_text_smaller {
  color: white;
  font-size: 20px;
}

.come_join_us {
  position: absolute;
  text-align: center;
  left: 45px;
  top: 65%;
  background-image: url("images/come_join_us_background.png");
  background-size: 100%;
  width: 395.22px;
  height: 90px;
}
.come_join_us_text_fistline {
  padding-top: 18.98px;
  color: #696969;
  font-size: 19px;
  display: block;
}
.come_join_us_comoencasa {
  color: #0A6450;
  font-size: 30px;
  font-weight: bold;
  display: inline;
}
.come_join_us_text {
  color: #696969;
  font-size: 19px;
  display: inline;
}
@media (max-width: 767px) {
  .come_join_us {
    left: 36.28;
    width: 297.33px;
    height: 67.71px;
  }
  .come_join_us_text_fistline {
    padding-top: 14px;
    font-size: 14px;
  }
  .come_join_us_comoencasa {
    font-size: 22px;
  }
  .come_join_us_text {
    font-size: 14px;
  }
}

.beginners {
  text-align: center;
  color: #696969;
  font-size: 15px;
  width: 318px;
  height: 77px;
  margin-top: 22.47px;
  margin-right: auto;
  margin-left: auto;
}
.beginners_text {
  display: block;
  line-height: 31px;
}
.applications {
  text-align: center;
  background-image: url("images/green_rect.png");
  background-size: 100% 100%;
  margin-top: 42.85px;
  margin-left: auto;
  margin-right: auto;
  width: 326px;
  height: 174px;
  padding-top: 33px;
}
.applications_text {
  font-size: 20px;
  text-decoration: underline;
  color: #0A6450;
  display: block;
  line-height: 44px;
}

.food_section {
  text-align: center;
}
.food_picture {
  margin-top: 35.11;
  margin-left: auto;
  margin-right: auto;
}
.food_picture img {
  width: 355.55px;
  height: 209.49px;
}
.about_food_text {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.about_food_title {
  font-family: Futura;
  letter-spacing: 5.16px;
  margin-top: 32.42px;
  font-size: 43px;
  color: #98D5DA;
}

.about_food_subtitle {
  font-size: 15px;
  color: #9E7F5F;
  margin-top: 15px;
}
.about_food_strong {
  font-size: 25px;
  color: #9E7F5F;
  margin-top: 13px;
}
.about_food_details {
  font-size: 15px;
  margin-top: 26px;
  color: #696969;
  line-height: 31px;
  width: 318px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  .food_section {
    height: 466px;
    display: flex;
  }
  .food_picture {
    flex: 50%;
    margin-top: 81.7px;
  }
  .food_picture img {
    width: 507.5px;
    height: 299.0px;
  }

  .about_food_text {
    flex: 50%;
    /* margin-right: 115.5px; */
  }
  .about_food_details {
    width: 377px;
  }
}

.age_section {
  margin-left: 28px;
  margin-right: 28px;
  border-top: 1px dashed #9E7F5F;
  border-bottom: 1px dashed #9E7F5F;
  margin-top: 34.2px;
  padding-bottom: 34.2px;
  text-align: center;
}

.age_picture {
  margin-top: 34.2px;
  margin-right: auto;
  margin-left: auto;
}
.age_picture img {
  width: 216px;
  height: 145px;
}

.age_title {
  font-family: Futura;
  letter-spacing: 5.16px;
  margin-top: 32.42px;
  font-size: 43px;
  color: #98D5DA;
}

.age_subtitle {
  margin-top: 8.83px;
  font-size: 15px;
  color: #98D5DA;
}
.age_details_strong {
  margin-top: 18px;
  font-size: 20px;
  color: #696969;
}
.age_details_weak {
  margin-top: 24px;
  font-size: 16px;
  color: #696969;
}

@media (min-width: 1000px) {
  .age_section {
    display: flex;
    direction: rtl;
    height: 226px;
    padding-bottom: 0px;
  }
  .age_picture {
    flex: 50%;
    float: right;
    margin-top: 22px;
  }
  .age_picture img {
    width: 273px;
    height: 182px;  
  }

  .age_text {
    flex: 50%;
    margin-left: 64px;
  }
}

.age_subtitle {
  margin-top: 8.83px;
}
.age_details_strong {
  margin-top: 10px;
}
.age_details_weak {
  margin-top: 10px;
}

.price_section {
  margin-top: 40px;
  margin-left: 28.63px;
  margin-right: 28.63px;
  text-align: center;
  border-bottom: 1px dashed #9E7F5F;
  padding-bottom: 34.2px;
}
.price_section span{
  display: block;
}
.price_picture img{
  width: 321px;
  height: 316px;
}
.price_title {
  font-family: Futura;
  letter-spacing: 5.16px;
  margin-top: 32.42px;
  font-size: 43px;
  color: #98D5DA;
}
.price_subtitle {
  margin-top: 34.41px;
  color: #9E7F5F;
  font-size: 18px;
}
.price_details {
  margin-top: 30px;
  color: #696969;
  font-size: 22px;
  line-height: 45px;
}
.price_tips {
  margin-top: 59px;
  color: #9E7F5F;
  font-size: 22px;
  text-decoration: underline;
}
.price_with_tips_arrow {
  margin-top: 15.74px;
}
.price_with_tips {
  margin-top: 11.44px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 334px;
  height: 129px;
  background-image: url("images/green_rect.png");
  background-size: 100% 100%;
}
.price_with_tips_for {
  color: #696969;
  font-size: 18px;
}
.price_with_tips_monthly_price {
  color: #0A6450;
  font-size: 48px;
}
.price_with_tips_shibuya {
  color: #696969;
  font-size: 15px;
}
.price_included {
  width: 318px;
  height: 62px;
  color: #696969;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  .price_section {
    display: flex;
    /* height: 226px; */
    padding-bottom: 60px;
  }
  .price_picture {
    flex: 50%;
    margin-top: 101px;
  }
  .price_picture img {
    width: 587px;
    height: 577.86px;  
  }

  .price_text {
    flex: 50%;
    margin-left: 64px;
  }
}

.childcare_fee_support_section {
  text-align: center;
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid #0A6450;
  border-bottom: 2px solid #0A6450;
  color: #0A6450;
}
.childcare_fee_support_title_section {
  margin-top: 40px;
  background-image: url("images/casa.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 76.56px 76.37px;
  height: 76.37px;
  padding: 20px 0;
}
.childcare_fee_support_title {
  font-size: 18px;
}
.childcare_fee_support_shibuya {
  font-size: 15px;
}
.childcare_fee_support_amount {
  margin-top: 17px;
  font-size: 22px;
}
.childcare_fee_support_details {
  margin-left: 28.63px;
  margin-right: 28.63px;
  margin-top: 23px;
  font-size: 15px;
  line-height: 31px;
}
.childcare_fee_support_notes {
  margin-left: 28.63px;
  margin-right: 28.63px;
  margin-top: 35px;
  font-size: 12px;
}
.childcare_fee_support_notes span {
  display: block;
}

.footer_section {
  background-image: url("images/footer_background.png");
  box-sizing: border-box;
  width: 100%;
  height: 292.02px;
  background-size: 100% 100%;
  display: block;
  text-align: center;
  margin-top: 80px;
}
.footer_logo {
  position: relative;
  top: -34px;
}
.footer_logo img {
  width: 113px;
  height: 113px;
}
.footer_url_here {
  margin-top: 32px;
}
.footer_url_here img {
  width:  263px;
  height: 62px;
}
.footer_url {
  margin-top: 17px;
  font-size: 14px;
  color: #0A6450;
}
@media (min-width: 1280px) {
  #como_en_casa {
    zoom: 120%;
  }
}

#contact {
  padding-bottom: 20px;
}
@media (min-width: 681px) {
  .box_left2 {
    padding-top: 30px;
  }
}
@media (max-width: 680px) {
  #contact .content {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
  #contact .bg_gr {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .box_left {
    margin-top: 0px;
  }
  #contact h3 {
    margin: 0;
  }
}
