body {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

#como_en_casa {
  background-color: white;
  height: 100vh;
}

.top_bar {
  position: fixed;
  /* display: block; */
  box-sizing: border-box;
  width: 100%;
  height: 98.56px;
  background-image: url("images/top_bar.png");
  background-size: 100% 100%;
  display: block;
}

.top_bar_house_logo {
  position: absolute;
  width: 91px;
  height: 92px;
  left: 21px;
  top: 10.147px;
}

.top_bar_contact {
  position: absolute;
  top: 18px;
  right: 28%;
  text-align: center;
}
.top_bar_contact_text {
  color: #FFEA46;
  display: block;
  font-size: 10px;
}
.top_bar_contact_text_phone_number {
  font-size: 16px;
  font-weight: bold;
}
.top_bar_contact_text_hours {
  font-size: 14px;
}
.top_bar_yellow_phone {
  position: absolute;
  width: 69px;
  height: 69px;
  right: 6.7%;
  top: 11px;
}

.main_banner {
  height: 543.68px;
  width: 100%;
  background-image: url("images/S__14975015.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: block;
}
@media (max-width: 767px) {
  .main_banner {
    background-image: url("images/S__14975015_mobile.png");
  }
}

.ordermaid_text_container {
  position: absolute;
  top: 150px;
  left: 59.61px;
  text-align: center;
}
.yellow_dot_line {
  background-image: url("images/yellow_dot.png");
  height: 4px;
}
.organic_text_container {
  position: absolute;
  top: 272.51px;
  left: 86.03px;
  text-align: center;
}
.main_banner_text {
  display: block;
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.main_banner_text_smaller {
  color: white;
  font-size: 20px;
}

.come_join_us {
  position: absolute;
  text-align: center;
  left: 45px;
  top: 427.59px;
  background-image: url("images/come_join_us@2x.png");
  background-size: 100%;
  width: 395.22px;
  height: 117.32px;
}

@media (max-width: 767px) {
  .come_join_us {
    left: 36.28;
    top: 433.37px;
    width: 297.33px;
    height: 88.307px;
    background-image: url("images/come_join_us.png");
  }
}

.come_join_us_text {
  padding-top: 18.98px;
  color: #696969;
  font-size: 19px;
}

.come_join_us_como_text {
  color: #0A6450;
  font-size: 31px;
  font-weight: bold;
}

.beginners {
  text-align: center;
  color: #696969;
  font-size: 15px;
  width: 318px;
  height: 77px;
  margin-top: 22.47px;
  margin-right: auto;
  margin-left: auto;
}
.beginners_text {
  display: block;
  line-height: 31px;
}
.applications {
  text-align: center;
  background-image: url("images/green_rect.png");
  background-size: 100% 100%;
  margin-top: 42.85px;
  margin-left: auto;
  margin-right: auto;
  width: 326px;
  height: 174px;
  padding-top: 33px;
}
.applications_text {
  font-size: 20px;
  text-decoration: underline;
  color: #0A6450;
  display: block;
  line-height: 44px;
}