@media (max-width: 767px) {

	.mediaViewInfo {
		--web-view-name: como en casa;
		--web-view-id: como_en_casa;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: como_en_casa;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#como_en_casa {
		position: absolute;
		width: 375px;
		height: 3936px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: como en casa;
		--web-view-id: como_en_casa;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#S__14975015 {
		position: absolute;
		width: 375px;
		height: 543.679px;
		left: 0px;
		top: 0.34px;
		overflow: visible;
	}
	#pexels-ksenia-chernaya-3965542 {
		opacity: 0.197;
		fill: rgba(0,0,0,0.518);
	}
	.pexels-ksenia-chernaya-3965542 {
		overflow: visible;
		position: absolute;
		width: 375px;
		height: 543.679px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#S__83370012 {
		position: absolute;
		width: 216px;
		height: 145px;
		left: 80px;
		top: 1626px;
		overflow: visible;
	}
	#n_24 {
		opacity: 0.325;
		fill: rgba(152,213,218,1);
	}
	.n_24 {
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 174px;
		left: 25px;
		top: 686px;
	}
	#n__ {
		left: 29px;
		top: 719px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 108px;
		line-height: 44px;
		margin-top: -12px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(10,100,80,1);
		text-decoration: underline;
	}
	#n_40 {
		fill: transparent;
		stroke: rgba(158,127,95,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 5 5;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_40 {
		overflow: visible;
		position: absolute;
		width: 320px;
		height: 1px;
		left: 27.5px;
		top: 1596.147px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n___q {
		left: 29px;
		top: 1263.609px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 294px;
		line-height: 31px;
		margin-top: -8px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(105,105,105,1);
	}
	#Text {
		left: 29px;
		top: 1184.609px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 15px;
		line-height: 31px;
		margin-top: -8px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(158,127,95,1);
	}
	#Text_s {
		left: 29px;
		top: 1212.609px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 25px;
		line-height: 31px;
		margin-top: -3px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(158,127,95,1);
	}
	#n_48 {
		fill: rgba(152,213,218,1);
	}
	.n_48 {
		overflow: visible;
		position: absolute;
		width: 107.569px;
		height: 36.05px;
		left: 134.667px;
		top: 1123.147px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_85 {
		position: absolute;
		width: 355.555px;
		height: 209.495px;
		left: 12.902px;
		top: 895.114px;
		overflow: visible;
	}
	#food005 {
		position: absolute;
		width: 236.196px;
		height: 170.459px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#pexels-mark-stebnicki-2255935 {
		position: absolute;
		width: 185.913px;
		height: 131.574px;
		left: 169.641px;
		top: 77.921px;
		overflow: visible;
	}
	#n_439 {
		opacity: 0.325;
		fill: rgba(152,213,218,1);
	}
	.n_439 {
		position: absolute;
		overflow: visible;
		width: 334px;
		height: 129px;
		left: 21px;
		top: 2776.853px;
	}
	#n_72 {
		left: 71px;
		top: 1879px;
		position: absolute;
		overflow: visible;
		width: 235px;
		white-space: nowrap;
		line-height: 31px;
		margin-top: -5.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(105,105,105,1);
	}
	#n_2_ {
		left: 75px;
		top: 1923px;
		position: absolute;
		overflow: visible;
		width: 227px;
		white-space: nowrap;
		line-height: 31px;
		margin-top: -7.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(105,105,105,1);
	}
	#n_47 {
		fill: rgba(152,213,218,1);
	}
	.n_47 {
		overflow: visible;
		position: absolute;
		width: 89.538px;
		height: 45.625px;
		left: 142.318px;
		top: 1791.545px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Text_ {
		left: 29px;
		top: 1846px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 15px;
		line-height: 31px;
		margin-top: -8px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(152,213,218,1);
	}
	#Text_ba {
		left: 29px;
		top: 2916.294px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 62px;
		line-height: 24px;
		margin-top: -5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(105,105,105,1);
	}
	#n_49 {
		fill: rgba(152,213,218,1);
	}
	.n_49 {
		overflow: visible;
		position: absolute;
		width: 109.705px;
		height: 33.006px;
		left: 134.092px;
		top: 2371.582px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_33 {
		fill: transparent;
		stroke: rgba(158,127,95,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 5 5;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_33 {
		overflow: visible;
		position: absolute;
		width: 320px;
		height: 1px;
		left: 27.5px;
		top: 1981px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_34 {
		fill: transparent;
		stroke: rgba(158,127,95,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 5 5;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_34 {
		overflow: visible;
		position: absolute;
		width: 320px;
		height: 1px;
		left: 27.5px;
		top: 3037px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_39 {
		opacity: 0.2;
		fill: rgba(255,234,70,1);
	}
	.n_39 {
		overflow: visible;
		position: absolute;
		width: 76.556px;
		height: 76.366px;
		left: 149.222px;
		top: 3118.693px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_4893 {
		left: 28.628px;
		top: 3257.06px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 108px;
		line-height: 31px;
		margin-top: -8px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(10,100,80,1);
	}
	#n___ {
		left: 28.628px;
		top: 3400.06px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 60px;
		line-height: 16px;
		margin-top: -2px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(10,100,80,1);
	}
	#n_0000 {
		left: 31.628px;
		top: 3212.06px;
		position: absolute;
		overflow: visible;
		width: 313px;
		height: 22px;
		line-height: 45px;
		margin-top: -11.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(10,100,80,1);
	}
	#Text_bb {
		left: 31.628px;
		top: 3136.06px;
		position: absolute;
		overflow: visible;
		width: 313px;
		height: 18px;
		line-height: 45px;
		margin-top: -13.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(10,100,80,1);
	}
	#Text_bc {
		left: 31.628px;
		top: 3165.06px;
		position: absolute;
		overflow: visible;
		width: 313px;
		height: 15px;
		line-height: 45px;
		margin-top: -15px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(10,100,80,1);
	}
	#n_35 {
		fill: transparent;
		stroke: rgba(10,100,80,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_35 {
		overflow: visible;
		position: absolute;
		width: 320px;
		height: 1px;
		left: 27.128px;
		top: 3106px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_36 {
		fill: transparent;
		stroke: rgba(10,100,80,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_36 {
		overflow: visible;
		position: absolute;
		width: 320px;
		height: 1px;
		left: 27.128px;
		top: 3490.119px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_1 {
		fill: rgba(152,213,218,1);
		stroke: rgba(0,0,0,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.n_1 {
		overflow: visible;
		position: absolute;
		width: 376px;
		height: 293.023px;
		left: 0px;
		top: 3573.977px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_87 {
		position: absolute;
		width: 263px;
		height: 62px;
		left: 56px;
		top: 3685px;
		overflow: visible;
	}
	#n_22 {
		fill: rgba(10,100,80,1);
	}
	.n_22 {
		position: absolute;
		overflow: visible;
		width: 263px;
		height: 62px;
		left: 0px;
		top: 0px;
	}
	#Text_bh {
		left: 66px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 131px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(152,213,218,1);
		letter-spacing: 1.8px;
	}
	#httpwwwcomoencasajp {
		left: 80px;
		top: 3764px;
		position: absolute;
		overflow: visible;
		width: 217px;
		white-space: nowrap;
		line-height: 16px;
		margin-top: -1px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(10,100,80,1);
		letter-spacing: 0.94px;
	}
	#logo1 {
		position: absolute;
		width: 113px;
		height: 113px;
		left: 131px;
		top: 3540px;
		overflow: visible;
	}
	#n_302000_58_0_85000___ {
		left: 32px;
		top: 2487px;
		position: absolute;
		overflow: visible;
		width: 313px;
		height: 112px;
		line-height: 45px;
		margin-top: -11.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(105,105,105,1);
	}
	#Text_bl {
		left: 32px;
		top: 2439px;
		position: absolute;
		overflow: visible;
		width: 313px;
		height: 18px;
		line-height: 45px;
		margin-top: -13.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(158,127,95,1);
	}
	#n_5000 {
		left: 42px;
		top: 2817.853px;
		position: absolute;
		overflow: visible;
		width: 293px;
		white-space: nowrap;
		line-height: 98px;
		margin-top: -25px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(10,100,80,1);
	}
	#Text_bn {
		left: 32px;
		top: 2791.671px;
		position: absolute;
		overflow: visible;
		width: 313px;
		height: 18px;
		line-height: 45px;
		margin-top: -13.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(105,105,105,1);
	}
	#Text_bo {
		left: 32px;
		top: 2877.294px;
		position: absolute;
		overflow: visible;
		width: 313px;
		height: 15px;
		line-height: 45px;
		margin-top: -15px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(105,105,105,1);
	}
	#n_38 {
		fill: transparent;
		stroke: rgba(158,127,95,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_38 {
		overflow: visible;
		position: absolute;
		width: 13.089px;
		height: 36.9px;
		left: 181.788px;
		top: 2730.739px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_ {
		left: 32px;
		top: 2658px;
		position: absolute;
		overflow: visible;
		width: 313px;
		height: 57px;
		line-height: 35px;
		margin-top: -6.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(158,127,95,1);
		text-decoration: underline;
	}
	#n_79 {
		position: absolute;
		width: 321px;
		height: 316px;
		left: 23px;
		top: 2018.853px;
		overflow: visible;
	}
	#pexels-pavel-danilyuk-8422157 {
		position: absolute;
		width: 147px;
		height: 98px;
		left: 174px;
		top: 0px;
		overflow: visible;
	}
	#pexels-naomi-shi-1001914 {
		position: absolute;
		width: 229px;
		height: 153px;
		left: 0px;
		top: 72px;
		overflow: visible;
	}
	#pexels-yan-krukov-8435803 {
		position: absolute;
		width: 176px;
		height: 118px;
		left: 135px;
		top: 198px;
		overflow: visible;
	}
	#n_82 {
		position: absolute;
		width: 297.331px;
		height: 67.358px;
		left: 36.278px;
		top: 433.368px;
		overflow: visible;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: _________1.html;
		cursor: pointer;
	}
	#n_31 {
		fill: rgba(255,255,255,1);
	}
	.n_31 {
		filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 62.675px;
		height: 297.331px;
		transform: translate(-36.278px, -503.368px) matrix(1,0,0,1,153.6066,390.7226) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#n_44 {
		fill: rgba(105,105,105,1);
	}
	.n_44 {
		overflow: visible;
		position: absolute;
		width: 177.525px;
		height: 13.515px;
		left: 61.353px;
		top: 19.456px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_46 {
		fill: rgba(105,105,105,1);
	}
	.n_46 {
		overflow: visible;
		position: absolute;
		width: 122.985px;
		height: 13.38px;
		left: 156.338px;
		top: 42.471px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_45 {
		fill: rgba(10,100,80,1);
	}
	.n_45 {
		overflow: visible;
		position: absolute;
		width: 138.216px;
		height: 20.496px;
		left: 12.449px;
		top: 38.646px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_4 {
		position: absolute;
		width: 34.219px;
		height: 30.265px;
		left: 3.612px;
		top: 0px;
		overflow: visible;
	}
	#n_81 {
		position: absolute;
		width: 205.062px;
		height: 60.89px;
		left: 86.028px;
		top: 272.51px;
		overflow: visible;
	}
	#n_43 {
		fill: rgba(255,255,255,1);
	}
	.n_43 {
		filter: drop-shadow(1px 1px 13px rgba(0, 0, 0, 0.639));
		overflow: visible;
		position: absolute;
		width: 214.34px;
		height: 57.28px;
		left: 15.452px;
		top: 42.61px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_11 {
		fill: rgba(255,234,70,1);
	}
	.n_11 {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 2.972px;
		top: 31.49px;
	}
	#n_11_b {
		fill: rgba(255,234,70,1);
	}
	.n_11_b {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 10.972px;
		top: 31.49px;
	}
	#n_11_ca {
		fill: rgba(255,234,70,1);
	}
	.n_11_ca {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 18.972px;
		top: 31.49px;
	}
	#n_11_cb {
		fill: rgba(255,234,70,1);
	}
	.n_11_cb {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 26.972px;
		top: 31.49px;
	}
	#n_11_cc {
		fill: rgba(255,234,70,1);
	}
	.n_11_cc {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 34.972px;
		top: 31.49px;
	}
	#n_11_cd {
		fill: rgba(255,234,70,1);
	}
	.n_11_cd {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 42.972px;
		top: 31.49px;
	}
	#n_11_ce {
		fill: rgba(255,234,70,1);
	}
	.n_11_ce {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 50.972px;
		top: 31.49px;
	}
	#n_11_cf {
		fill: rgba(255,234,70,1);
	}
	.n_11_cf {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 58.972px;
		top: 31.49px;
	}
	#n_11_cg {
		fill: rgba(255,234,70,1);
	}
	.n_11_cg {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 66.972px;
		top: 31.49px;
	}
	#n_11_ch {
		fill: rgba(255,234,70,1);
	}
	.n_11_ch {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 74.972px;
		top: 31.49px;
	}
	#n_11_ci {
		fill: rgba(255,234,70,1);
	}
	.n_11_ci {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 82.972px;
		top: 31.49px;
	}
	#n_11_cj {
		fill: rgba(255,234,70,1);
	}
	.n_11_cj {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 90.972px;
		top: 31.49px;
	}
	#n_11_ck {
		fill: rgba(255,234,70,1);
	}
	.n_11_ck {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 98.972px;
		top: 31.49px;
	}
	#n_11_cl {
		fill: rgba(255,234,70,1);
	}
	.n_11_cl {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 106.972px;
		top: 31.49px;
	}
	#n_11_cm {
		fill: rgba(255,234,70,1);
	}
	.n_11_cm {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 114.972px;
		top: 31.49px;
	}
	#n_11_cn {
		fill: rgba(255,234,70,1);
	}
	.n_11_cn {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 122.972px;
		top: 31.49px;
	}
	#n_11_co {
		fill: rgba(255,234,70,1);
	}
	.n_11_co {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 130.972px;
		top: 31.49px;
	}
	#n_11_cp {
		fill: rgba(255,234,70,1);
	}
	.n_11_cp {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 138.972px;
		top: 31.49px;
	}
	#n_11_cq {
		fill: rgba(255,234,70,1);
	}
	.n_11_cq {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 146.972px;
		top: 31.49px;
	}
	#n_11_cr {
		fill: rgba(255,234,70,1);
	}
	.n_11_cr {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 154.972px;
		top: 31.49px;
	}
	#n_11_cs {
		fill: rgba(255,234,70,1);
	}
	.n_11_cs {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 162.972px;
		top: 31.49px;
	}
	#n_11_ct {
		fill: rgba(255,234,70,1);
	}
	.n_11_ct {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 170.972px;
		top: 31.49px;
	}
	#n_11_cu {
		fill: rgba(255,234,70,1);
	}
	.n_11_cu {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 178.972px;
		top: 31.49px;
	}
	#n_11_cv {
		fill: rgba(255,234,70,1);
	}
	.n_11_cv {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 186.972px;
		top: 31.49px;
	}
	#n_11_cw {
		fill: rgba(255,234,70,1);
	}
	.n_11_cw {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 194.972px;
		top: 31.49px;
	}
	#n_42 {
		fill: rgba(255,255,255,1);
	}
	.n_42 {
		filter: drop-shadow(1px 1px 13px rgba(0, 0, 0, 0.639));
		overflow: visible;
		position: absolute;
		width: 244.062px;
		height: 63.466px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_80 {
		position: absolute;
		width: 260px;
		height: 64.996px;
		left: 58px;
		top: 150.004px;
		overflow: visible;
	}
	#n_11_cx {
		fill: rgba(255,234,70,1);
	}
	.n_11_cx {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 0px;
		top: 60.996px;
	}
	#n_11_cy {
		fill: rgba(255,234,70,1);
	}
	.n_11_cy {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 8px;
		top: 60.996px;
	}
	#n_11_cz {
		fill: rgba(255,234,70,1);
	}
	.n_11_cz {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 16px;
		top: 60.996px;
	}
	#n_11_c {
		fill: rgba(255,234,70,1);
	}
	.n_11_c {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 24px;
		top: 60.996px;
	}
	#n_11_da {
		fill: rgba(255,234,70,1);
	}
	.n_11_da {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 32px;
		top: 60.996px;
	}
	#n_11_db {
		fill: rgba(255,234,70,1);
	}
	.n_11_db {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 40px;
		top: 60.996px;
	}
	#n_11_dc {
		fill: rgba(255,234,70,1);
	}
	.n_11_dc {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 48px;
		top: 60.996px;
	}
	#n_11_dd {
		fill: rgba(255,234,70,1);
	}
	.n_11_dd {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 56px;
		top: 60.996px;
	}
	#n_11_de {
		fill: rgba(255,234,70,1);
	}
	.n_11_de {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 64px;
		top: 60.996px;
	}
	#n_11_df {
		fill: rgba(255,234,70,1);
	}
	.n_11_df {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 72px;
		top: 60.996px;
	}
	#n_11_dg {
		fill: rgba(255,234,70,1);
	}
	.n_11_dg {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 80px;
		top: 60.996px;
	}
	#n_11_dh {
		fill: rgba(255,234,70,1);
	}
	.n_11_dh {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 88px;
		top: 60.996px;
	}
	#n_11_di {
		fill: rgba(255,234,70,1);
	}
	.n_11_di {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 96px;
		top: 60.996px;
	}
	#n_11_dj {
		fill: rgba(255,234,70,1);
	}
	.n_11_dj {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 104px;
		top: 60.996px;
	}
	#n_11_dk {
		fill: rgba(255,234,70,1);
	}
	.n_11_dk {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 112px;
		top: 60.996px;
	}
	#n_11_dl {
		fill: rgba(255,234,70,1);
	}
	.n_11_dl {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 120px;
		top: 60.996px;
	}
	#n_11_dm {
		fill: rgba(255,234,70,1);
	}
	.n_11_dm {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 128px;
		top: 60.996px;
	}
	#n_11_dn {
		fill: rgba(255,234,70,1);
	}
	.n_11_dn {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 136px;
		top: 60.996px;
	}
	#n_11_do {
		fill: rgba(255,234,70,1);
	}
	.n_11_do {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 144px;
		top: 60.996px;
	}
	#n_11_dp {
		fill: rgba(255,234,70,1);
	}
	.n_11_dp {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 152px;
		top: 60.996px;
	}
	#n_11_dq {
		fill: rgba(255,234,70,1);
	}
	.n_11_dq {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 160px;
		top: 60.996px;
	}
	#n_11_dr {
		fill: rgba(255,234,70,1);
	}
	.n_11_dr {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 168px;
		top: 60.996px;
	}
	#n_11_ds {
		fill: rgba(255,234,70,1);
	}
	.n_11_ds {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 176px;
		top: 60.996px;
	}
	#n_11_dt {
		fill: rgba(255,234,70,1);
	}
	.n_11_dt {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 184px;
		top: 60.996px;
	}
	#n_11_du {
		fill: rgba(255,234,70,1);
	}
	.n_11_du {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 192px;
		top: 60.996px;
	}
	#n_11_dv {
		fill: rgba(255,234,70,1);
	}
	.n_11_dv {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 200px;
		top: 60.996px;
	}
	#n_11_dw {
		fill: rgba(255,234,70,1);
	}
	.n_11_dw {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 208px;
		top: 60.996px;
	}
	#n_11_dx {
		fill: rgba(255,234,70,1);
	}
	.n_11_dx {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 216px;
		top: 60.996px;
	}
	#n_11_dy {
		fill: rgba(255,234,70,1);
	}
	.n_11_dy {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 224px;
		top: 60.996px;
	}
	#n_11_dz {
		fill: rgba(255,234,70,1);
	}
	.n_11_dz {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 232px;
		top: 60.996px;
	}
	#n_11_d {
		fill: rgba(255,234,70,1);
	}
	.n_11_d {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 240px;
		top: 60.996px;
	}
	#n_11_ea {
		fill: rgba(255,234,70,1);
	}
	.n_11_ea {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 248px;
		top: 60.996px;
	}
	#n_11_eb {
		fill: rgba(255,234,70,1);
	}
	.n_11_eb {
		position: absolute;
		overflow: visible;
		width: 4px;
		height: 4px;
		left: 256px;
		top: 60.996px;
	}
	#n_41 {
		fill: rgba(255,255,255,1);
	}
	.n_41 {
		filter: drop-shadow(1px 1px 13px rgba(0, 0, 0, 0.639));
		overflow: visible;
		position: absolute;
		width: 293.592px;
		height: 92.92px;
		left: 1.612px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n___ds {
		left: 29px;
		top: 566.147px;
		position: absolute;
		overflow: visible;
		width: 319px;
		height: 77px;
		line-height: 31px;
		margin-top: -8px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(105,105,105,1);
	}
	#n_1_dt {
		fill: rgba(10,100,80,1);
	}
	.n_1_dt {
		overflow: visible;
		position: absolute;
		width: 375px;
		height: 98.556px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_49_du {
		position: absolute;
		width: 69px;
		height: 69px;
		left: 281px;
		top: 8px;
		overflow: visible;
	}
	#n_1_dv {
		fill: rgba(255,234,70,1);
	}
	.n_1_dv {
		position: absolute;
		overflow: visible;
		width: 69px;
		height: 69px;
		left: 0px;
		top: 0px;
	}
	#n_2 {
		fill: rgba(10,100,80,1);
	}
	.n_2 {
		overflow: visible;
		position: absolute;
		width: 47.821px;
		height: 16.354px;
		transform: translate(-276px, -77px) matrix(1,0,0,1,285.9465,104.5392) rotate(224deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#n_83 {
		position: absolute;
		width: 102px;
		height: 49.603px;
		left: 168px;
		top: 18px;
		overflow: visible;
	}
	#Text_dy {
		left: 21px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		line-height: 13px;
		margin-top: -1.5px;
		text-align: center;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 10px;
		color: rgba(255,234,70,1);
	}
	#n_3-6721-0312 {
		left: 0px;
		top: 11.5px;
		position: absolute;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		line-height: 19px;
		margin-top: -1.5px;
		text-align: center;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,234,70,1);
	}
	#n_002000 {
		left: 14px;
		top: 35.603px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		line-height: 45px;
		margin-top: -15.5px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(255,234,70,1);
	}
	#s_aoyama {
		position: absolute;
		width: 91px;
		height: 92px;
		left: 21px;
		top: 10.147px;
		overflow: visible;
	}
	#PC {
		left: 11px;
		top: 8px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: como_en_casa___2.html;
		cursor: pointer;
		line-height: 32px;
		margin-top: -6px;
		text-align: center;
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}

}