@charset "utf-8";

/**************************************/
/*               index                */
/**************************************/
/***

1.Common
   body
   a
   br
   img
   h1,h2,h3,h4,h5,h6
   p
   em
   strong
   ins
   del
   ul,ol
   th,td
   form
   textarea
   input[type=text]
   select
   address

2.layout
   #header
   #menu
   #contents
   #footer

3.custom
   .summary（テンプレート概要用テーブル）
   .totop（ページのトップへ戻るリンク）

***/

/**************************************/
/*             1.Common               */
/**************************************/
body {
	margin:0;
	padding:0;
	color:#ccc;
	font-style:normal;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	letter-spacing:1px;
	line-height:1.4;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif,"Osaka‐等幅";
	background-color: #110E05;
}

a {
   color:#FFFF00;
   text-decoration:none;
}


a:link {
   color:#F8F915;
}

a:visited {
   color:#F8F915;
}

a:hover {
	color:#666666;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif, Osaka‐等幅;
}

br {
	letter-spacing:normal;
	font-family: "Trebuchet MS";
}

img {
   border:0;
   vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
   padding:0;
}

p {
   margin:0;
   font-size:75%;
}
em {
   font-weight:bold;
   font-style:normal;
}

strong {
   font-weight:bold;
}

ins {
   text-decoration: underline;
}

del {
   color:#999;
   text-decoration: line-through;
}


ul,ol {
   margin:0;
   padding:1em 0;
   padding-left:40px;
   font-size:75%;
}

dl{
   margin:0;
   padding:1em 0;
   font-size:75%;
   
}

th,td {
   font-weight:normal;
   font-size:75%;
   text-align:left;
}

form {
   margin:0;
   margin-left:1em;
   font-size:75%;;

}

textarea,
input[type=text],
select {
   font-size:100%;
   background:#fff;
   border:1px solid #333;
   }

address {
   margin:0;
   padding:0;
   color:#666;
   font-style:normal;
   font-weight:normal;
   font-size:12px;
}

/**************************************/
/*             2.layout               */
/**************************************/
#top {
	position:relative;
	width:960px;
	margin:0 auto;
	text-align:left;
	background:#1F1A09;
	background-color: #110E05;
}

#top2 {
	position:relative;
	width:900px;
	margin:0 auto;
	text-align:left;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	background-color: #000;
	background-repeat: no-repeat;
}

#top3 {
   position:relative;
   width:900px;
   margin:0 auto;
   text-align:left;
   background:#000 url(image/bg03.jpg) no-repeat;
   border-left: 1px solid #333;
   border-right: 1px solid #333;	
}

#top4 {
   position:relative;
   width:900px;
   margin:0 auto;
   text-align:left;
   background:#000 url(image/bg04.jpg) no-repeat;
   border-left: 1px solid #333;
   border-right: 1px solid #333;	
}

#header {
	position:relative;
	width:960px;
	height:160px;
	padding:0px;
}

#menu {
   position:absolute;
   left:220px;
   bottom:28px;
}


#logo2 {
   position:absolute;
   left:234px;
   top:40px;
}

#contents {
	width:960px;
	padding-top: 0;
	padding-bottom: 0;
}

#contents2 {
	width:960px;
	background-color: #0B0902;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0F0F0F;
	border-right-color: #0F0F0F;
	border-bottom-color: #0F0F0F;
	border-left-color: #0F0F0F;
}

#footer {
	width:960px;
	height:20px;
	background:#110E05;
	border-bottom: 1px solid #333;
	padding-top: 0;
	padding-bottom: 0;
}

/**************************************/
/*             3.custom               */
/**************************************/



.span1 {display:none;}

.logo {
   position:absolute;
   top:30px;
   left:60px;
   }

.photo  {
margin: 8px; 
}

#header h1 {
   position:relative;
   top:30px;
   left:60px;
   font-size:100%;
   background-image:url(image/light_logo.gif);
   width:114px; 
   height:80px; 
   background-repeat:no-repeat;
   margin:0;
   padding:0;
   display:block;

}

#menu_btn {
width:500px;
height:13px;  
margin: 0; 
padding :0;
}
#menu_btn ul { 
margin: 0; 
padding :0; 
list-style-type : none; 
}
#menu_btn li { 
display : inline; 
padding :0; 
margin:0 14px;
float:left; 
}
#menu_btn #menu1 a {
background-image:url(image/menu_01_off.gif);
background-color:#000;
background-repeat:no-repeat; 
width:93px; 
height:13px;
margin:0; 
padding:0;
display:block;
}
#menu_btn #menu1 a:hover {
background-image:url(image/menu_01_on.gif);
background-color:#000; 
background-repeat:no-repeat;
width:93px; 
height:13px; 
margin:0;
padding:0;
display:block;
}
#menu_btn #menu2 a {
background-image:url(image/menu_02_off.gif); 
background-color:#000;
background-repeat:no-repeat; 
width:107px; 
height:13px;
margin:0; padding:0;
display:block;
}
#menu_btn #menu2 a:hover {
background-image:url(image/menu_02_on.gif);
background-color:#000; 
background-repeat:no-repeat;
width:107px; 
height:13px; 
margin:0;
padding:0;
display:block;
}
#menu_btn #menu3 a {
background-image:url(image/menu_03_off.gif); 
background-color:#000;
background-repeat:no-repeat; 
width:45px; 
height:13px;
margin:0; 
padding:0;
display:block;
}
#menu_btn #menu3 a:hover {
background-image:url(image/menu_03_on.gif);.
background-color:#000; 
background-repeat:no-repeat;
width:45px;
height:13px; 
margin:0;
padding:0;
display:block;
}
#menu_btn #menu4 a {
background-image:url(image/menu_04_off.gif); 
background-color:#000;
background-repeat:no-repeat; 
width:82px;
height:13px;
margin:0; 
padding:0;
display:block;
}
#menu_btn #menu4 a:hover {
background-image:url(image/menu_04_on.gif);
background-color:#000; 
background-repeat:no-repeat;
width:82px; 
height:13px; 
margin:0;
padding:0;
display:block;
}


#contents h2 {
   font-size:26px ;
   color:#3E3E3E;
   font-family:Trebuchet MS ;
   margin-bottom:0px;
   padding: 0px 10px;
   border-bottom:3px solid #3E3E3E;
   text-align:right;
}

#contents h3 {
   font-size:20px ;
   font-family:Trebuchet MS ;
   padding:10px;
}

#contents h4 {
   padding:10px;
   font-weight:normal;
   font-family:Trebuchet MS ;
   font-size:16px ;
}

#contents h5 {
   margin-bottom:2px;
   margin-left:1em;
   padding-top:30px;
   font-weight:normal;
   font-size:75%;
}

#contents h6 {
   margin-bottom:2px;
   margin-left:1em;
   padding-top:30px;
   font-weight:normal;
   font-size:75%;
}

#contents ul,
#contents ol {
   margin-left:1em;
}

#contents dt {
   margin-left:1em;
}

#contents dd {
   margin-left:2em;
}

#contents p {
	margin-left:1em;
	color: #ccc;
}

#contents2 .box{
	float:left;
	width: 100%;
	margin-left:15px;
}

#contents2 .drinkmenu{
	float:left;
	width: 360px;
	padding-right:20px;
	padding-bottom:40px;
}

#contents2 .date {
   font-size:20px;
   	padding-top:20px;
	padding-bottom:10px;
	padding-left:10px;
	   color:#FFFF00;
}

#contents2 .event_ttl {
   font-size:26px;
   	padding-left:10px;
		padding-bottom:10px;
	line-height:120%;
}

#contents2 .event_open {
   font-size:75%;
		padding-bottom:10px;
			color:#ae9e9e;
}

#contents2 .dj_ttl {
   	padding-top:16px;
			padding-bottom:6px;
}

#info td {
      padding:5px;
	     border:1px;
}

#info table {
   padding:12px;
}

.menu_txt{
	position: relative;
	width: 260px;
	padding-bottom:30px;
}
.menu_txt .drinkmenu01{
	position:absolute;
	top:2px;
	left:2px;
	padding-right:15px;
}
.menu_txt .drinkmenu_price{
	position:absolute;
	top:0;
	left:260px;
	text-align:right;
	width:65px;
	color:#ae9e9e;
}

#schedule table {
	width:700px;
}

#schedule td {
    border:0px;
	width:100px;
	height:50px;
}

#schedule .tdbg {
	background-color:#000000;
}

#schedule .sche_youbi {
	height:16px;
	background-color:#000000;

}

#contents2 .sche_link {
   font-size:11px;
   margin-top:20px;
   margin-bottom:20px;

}



#contents .totop {
   font-size:11px;
   text-align:right;
   margin-top:50px;
}

#footer address {
	padding-top:5px;
	text-align:center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: xx-small;
}
